<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>SignIn</servlet-name>
    <servlet-class>SignIn</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignIn</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Profile</servlet-name>
    <servlet-class>Profile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Profile</servlet-name>
    <url-pattern>/Profile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>Search</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddMoreCountry</servlet-name>
    <servlet-class>AddMoreCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMoreCountry</servlet-name>
    <url-pattern>/AddMoreCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>editCountry</servlet-name>
    <servlet-class>editCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editCountry</servlet-name>
    <url-pattern>/editCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCountry</servlet-name>
    <servlet-class>deleteCountry</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCountry</servlet-name>
    <url-pattern>/deleteCountry</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteImage</servlet-name>
    <servlet-class>deleteImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteImage</servlet-name>
    <url-pattern>/deleteImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addmoreImage</servlet-name>
    <servlet-class>addmoreImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addmoreImage</servlet-name>
    <url-pattern>/addmoreImage</url-pattern>
  </servlet-mapping>
</web-app>